.game {
  text-align: center;
}

header {
  border-bottom: 1px solid #000;
  color: white;
  letter-spacing: 1.5px;
  padding: 20px;
  text-shadow:
    -1px -1px 0 #000,
     1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
  text-transform: uppercase;
}

