.key-pegs-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: 15px;
  width: 24px;
}

.key-peg {
  border: 1px solid #000;
  border-radius: 50%;
  height: 8px;
  width: 8px;
  margin: 2px 2px 0;
}
